.highlights {
  display: flex;
  overflow-x: scroll;

  &-image {
    margin-right: 0.5rem;
    border-radius: 1rem;
    max-width: 223px;
    max-height: 362px;
    object-fit: cover;
  }
}

.profile {
  z-index: 1;
  position: relative;
  bottom: 2rem;
  left: 1rem;
  display: flex;

  &-outer {
    width: 7rem;
    height: 7rem;
    clip-path: circle(50% at 50% 50%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-inner {
    width: 6.7rem;
    height: 6.7rem;
    clip-path: circle(50% at 50% 50%);
  }

  &-summary {
    margin: 1rem;
    position: relative;
    top: 1.5rem;
  }
  
}
